html{
    height:100%;
  }
  
  .general-body{
    min-height:100vh;
  /* background-image: url("../images/pexels-ketut-subiyanto-4132326.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
    max-width:100vw;
  }
  
  .container{
  
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:40px;
  }
  
  .sub_container{
    background-color:white;
    min-height:380px;
    border-radius:15px;
    width:325px;
    margin-bottom:80px;
    
    
  }
  .ask >h4 >a{
    color:blue
  }
  
  .create{
margin-bottom: 15px;
  }

  button .child{
  display:flex;
    justify-content:flex-end;
  }
  
  h1{
  font-weight:bold;
    text-align:center;
    font-family:'Open Sans', sans-serif;
  }
  
  label{
  font-weight:bold;
    padding:15px;
    text-align:left;
    margin-left:25px;
    
  }
  .sign{
    color: blue
  }
  .ask{
    text-align: center;
  }
  
  
  
  input{
  box-sizing:border-box;
    height:30px;
    margin:15px 10px 15px 10px;
    display:inline-block;
    width:250px;
    margin-left:35px;
  }
  
  ::placeholder{
  color:#c1c1c1;
  transition:0.5s
  }
  
  button{
    width:130px;
    height:30px;
    background-color:green;
    text-align:center;
    color:white;
  margin: 10px 0 0 95px;
    border-radius:5px;
  }
  
  a{
  text-decoration:none;
    color:white;
  }
  
  
  
  
  